extends layout
block content
    h1= title
    form(name="register-form", id="register_form", method="post", action="/register")
        div.form-group
            input.form-control(type="text", placeholder="Имя", name="name")
        div.form-group
            input.form-control(type="text", placeholder="Логин", name="username")
        div.form-group
            input.form-control(type="password", placeholder="Пароль", name="password")
        div.form-group
            button.btn.btn-primary(type="submit") Войти
            spah.help-block.error
