extends layout
block content
    h1 Главная страница
    div
        div
            div.above-table Всякая инфа
                //span.bold Всего заявок:
                //    =' '
                //    = claimList.length
            table.table.table-striped
                tr
                    th Я
                    th Перевозчик
                    th №
                    th Дата
                    th Клиент
                    th №
                    th Дата
                    th Поставщик
                    th Город
                    th
                //each val, index in claimList
                //    tr
                //        td= val.name
                //        td
                //            select
                //                each carrier in carrierList
                //                    option(value=carrier._id)= carrier.name
                //        td= ''
                //        td= val.created
                //        td= ''
                //        td= ''
                //        td= ''
                //        td= ''
                //        td= ''
                //        td
                //            a.btn.btn-primary.btn-xs.removeItem&attributes({
                //                'data-id': val._id.toString(),
                //                'data-item': 'claim'
                //            }) Удалить